allow mm-qcamerad audio_device:chr_file rw_file_perms;
allow mm-qcamerad camera_data_file:sock_file create_file_perms;
allow mm-qcamerad camera_device:chr_file rw_file_perms;
allow mm-qcamerad camera_socket:sock_file create_file_perms;
allow mm-qcamerad gpu_device:chr_file rw_file_perms;
allow mm-qcamerad init:unix_stream_socket rw_socket_perms;
allow mm-qcamerad property_socket:sock_file rw_socket_perms;
allow mm-qcamerad sensors_device:chr_file rw_file_perms;
allow mm-qcamerad system_data_file:sock_file create_file_perms;
allow mm-qcamerad sysfs_camera:file rw_file_perms;
allow mm-qcamerad video_device:chr_file rw_file_perms;
