allow system_server system_file:file execmod; # for text relocations in sensors.*.so
allow system_server vibeamp_sysfs:dir search;
allow system_server vibeamp_sysfs:file rw_file_perms;
