allow system_server timerirq_device:chr_file { open read write ioctl };
allow system_server vibeamp_sysfs:dir search;
allow system_server vibeamp_sysfs:file rw_file_perms;
