allow thermal-engine self:capability { dac_override net_admin };
allow thermal-engine self:netlink_kobject_uevent_socket create_socket_perms;
allow thermal-engine sysfs:file write;
